#HeaderWidget {
    min-height: 40px;
    background: #444;
    border-bottom: 1px solid #222;
}

#HeaderIcon {
    max-height: 50px;
    max-width: 50px;
    qproperty-iconSize: 50px;
    border: none;
    border-radius: 6px;
}

#HeaderIcon:hover {
    /*border-radius: 6px;*/
    background: #555;
}

#HeaderIcon:pressed {
    /*border-radius: 6px;*/
    background: #333;
}

#HeaderTitle {
    font-size: 24pt;
    padding-left: 10px;
    font-family: "OpenSans-ExtraBold", sans-serif;
    background: #444
}

#VersionInfo {
    font-size: 12pt;
    background: #444;
    font-family: "OpenSans-Light", sans-serif;
    color: #DDD;
}