#JobWidget {
    background: #333;
}

#JobWidget QLabel {
    background: #444;
    margin: 5px;
    padding: 10px;
    font-size: 14pt;
    font-family: "OpenSans-Light", sans-serif;

}

#JobWidget #HelpLine {
    background: #333;
    color: #DDD;
}